@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif !important;
}

.Timer {background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.15458683473389356) 0%, rgba(74,74,74,1) 20%, rgba(22,22,22,1) 49%, rgba(17,14,7,1) 59%, rgba(23,19,10,1) 64%, rgba(19,16,8,0.9080882352941176) 80%, rgba(55,46,24,1) 85%, rgba(70,59,31,1) 92%, rgba(96,80,43,1) 95%, rgba(190,159,86,0.050945378151260545) 100%);
  opacity: .5;
}

.custom-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 21rem;
}

.custom-dot {
  margin: 0 1px;
}

.bar {
  width: 8px;
  height: 3px;
  background-color: white;
  margin: 0 2px;
}